<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
     <div class="navBar container">
        <div class="titleImg">
            <a href="./index.html">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo">
            </a>
        </div>
        <ul class="navList ">
             <li><a href="./products.html">系列鏡框</a></li>
             <li><a href="./stores.html">門市據點</a></li>
             <li><a href="./blog.html">部落格</a></li>
             <li><a href="./fa.html">常見問題</a></li>
        </ul>

        <div class="phoneMenuBtn">
          <a href="#">
            <img src="https://image1.gamme.com.tw/news2/2020/23/34/qJeRpp_WmKGWrqc.jpg" alt="">
          </a>
        </div>
     </div>

     <ul class="phoneList">
      <li><a href="./products.html">系列鏡框</a></li>
      <li><a href="./stores.html">門市據點</a></li>
      <li><a href="./blog.html">部落格</a></li>
      <li><a href="./fa.html">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="footerTop">
        <div class="phone">
            <div class="content1">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg" alt="">
              <p>0800-000-000</p>
            </div>
            <div class="content1">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg" alt="">
              <p>glasses@business.com</p>
            </div>
         
        </div>
        <ul class="txtmenu">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="imgmenu">
          <li><a href="#"><img src="./assets/images/ic-social-fb.png" alt=""></a></li>
          <li><a href="#"><img src="./assets/images/ic_social_ig.png" alt=""></a></li>
          <li><a href="#"><img src="./assets/images/ic_social_line.png" alt=""></a></li>
        </ul>
      </div>
      <div class="footerCenter">
        <div class="content1">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg" alt="">
          <p>0800-000-000</p>
        </div>
  
        <div class="content1">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg" alt="">
          <p>glasses@business.com</p>
        </div>
      </div>
      <div class="footerBottom">
        <h4>Copyright © 2020 Glasses.All rights reserved.</h4>
        <ul class="terms">
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
